# Question 1

In [63]:
a = 0

def b():
 global a
 a = c(a)
    
def c(a):
 return a + 2
b()   # Global is a keyword which is used to make the variale scope globally i.e it  belongs to all the class & functions
b()      # whenever b() will be called it sends 'a' value to value to function c() & 2 will be added and returned to b() which will be stored in global variable 'a'.
b()      # 'a' is global variable, its value will be incremented by 2 every time for every call
a      # first b() call-2, second b() call-4, third b() call-6 and finally it will return a=6

6

# Question 2:

In [2]:
def file_Length(file_name):
    try:
        file = open(file_name , "r")
        contents = file.read()
        print(len(contents))
        file.close()
    except FileNotFoundError:
        print('File {} not found.'.format(file_name))
    except:
        print("File cannot be read")
filename = (r"C:\Users\hasee\Desktop\fileLength.txt")

file_Length(filename)

try:
    fileLength(midterm.py)
except NameError:
        print("File cannot be read as a text file")

123
File cannot be read as a text file

# Question 3:

In [1]:
class Marsupial():
    pouch = []
    def __init__(self):
        self.pouch = []
    def put_in_pouch(self, thing):
        self.pouch.append(thing)
    def pouch_contents(self):
        print(self.pouch)
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [10]:
class Kangaroo(Marsupial):
    x = 0
    y = 0
    def __init__(self, x, y):
        Marsupial.__init__(self)
        self.x = x
        self.y = y
    def jump(self, x, y):
        self.x += x
        self.y += y
    def __str__(self):
        return 'I am a Kangaroo located at coordinates ({},{})'.format(self.x, self.y)
k = Kangaroo(0,0)
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

# Question 4:

In [11]:
def collatz(x):
    if x <= 1:
        print(1)
    elif x % 2 == 0:
        print(int(x))
        return collatz(x/2)
    else:
        print(int(x))
        return collatz(3*x + 1)
collatz(1)

1

In [12]:
def collatz(x):
    if x <= 1:
        print(1)
    elif x % 2 == 0:
        print(int(x))
        return collatz(x/2)
    else:
        print(int(x))
        return collatz(3*x + 1)
collatz(10)

10
5
16
8
4
2
1

# Question 5:

In [13]:
def binary(n):
    if n > 1:
       binary(n//2)
    print(n % 2)
binary(0)

0

In [14]:
def binary(n):
    if n > 1:
       binary(n//2)
    print(n % 2)
binary(1)

1

In [15]:
def binary(n):
    if n > 1:
       binary(n//2)
    print(n % 2,end = '')
binary(3)

11

In [16]:
def binary(n):
    if n > 1:
       binary(n//2)
    print(n % 2,end = '')
binary(9)

1001

# Question 6:

In [61]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    headings=['h1', 'h2', 'h3', 'h4', 'h5', 'h6']
    flag = 0
    def handle_starttag(self, tag, attrs):
        if tag in self.headings:
            self.spaces = int(tag[1])
            self.flag = 1
           
    def handle_endtag(self, tag):
        if tag == 'h1':
            self.flag = 0
            
    def handle_data(self, data):
        if self.flag:
            print(data.rjust(len(data) + self.spaces))
            
            
infile = open("C:\\Users\\hasee\\Desktop\\w3c.html")
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

 W3C Mission
  Principles

# Question 7:

In [24]:
import requests 
def webdir(url,depth,indent):
    base_url = "http://reed.cs.depaul.edu/lperkovic/csc242/test1.html"
    response = requests.get(url)


print(response) 
print(response.url)

<Response [404]>
http://reed.cs.depaul.edu/lperkovic/csc242/test1.html

# Question 8:

In [20]:
import sqlite3
con = sqlite3.connect('FILE.db')
cur = con.cursor()
cur.execute("CREATE TABLE IF NOT EXISTS WORLD (City text, Country text, Season text, Temperature real, Rainfall real)")
cur.execute("INSERT INTO WORLD VALUES ('Mumbai', 'India', 'Winter', 24.8, 5.9), ('Mumbai','India', 'Spring', 28.4, 16.2), ('Mumbai','India', 'Summer', 27.9, 1549.4), ('Mumbai','India', 'Fall', 27.6, 346.0)")
cur.execute("INSERT INTO WORLD VALUES ('London', 'United Kindom', 'Winter', 4.2, 207.7), ('London', 'United Kindom', 'Spring', 8.3, 169.6), ('London', 'United Kindom', 'Summer', 15.7, 157.0), ('London', 'United Kindom', 'Fall', 10.4, 218.5)")
cur.execute("INSERT INTO WORLD VALUES ('Cairo', 'Egypt', 'Winter', 13.6, 16.5), ('Cairo', 'Egypt', 'Spring', 20.7, 6.5), ('Cairo', 'Egypt', 'Summer', 27.7, 0.1), ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)")
cur.execute('SELECT * FROM WORLD')
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kindom', 'Winter', 4.2, 207.7),
 ('London', 'United Kindom', 'Spring', 8.3, 169.6),
 ('London', 'United Kindom', 'Summer', 15.7, 157.0),
 ('London', 'United Kindom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

# Question 8a:

In [21]:
cur.execute("SELECT Temperature FROM WORLD")
cur.fetchall()

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

# 8b:

In [22]:
cur.execute("SELECT distinct(City) FROM WORLD")
cur.fetchall()

[('Mumbai',), ('London',), ('Cairo',)]

# 8c:

In [23]:
cur.execute("SELECT * FROM WORLD where Country = 'India'")
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

# 8d:

In [24]:
cur.execute("SELECT * FROM WORLD where Season = 'Fall'")
cur.fetchall()

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kindom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

# 8e:

In [25]:
cur.execute("SELECT City, Country, Season, AVG(Rainfall) FROM WORLD where Rainfall >= 200 and Rainfall <= 400")
cur.fetchall()

[('Mumbai', 'India', 'Fall', 257.40000000000003)]

# 8f:

In [26]:
cur.execute("SELECT City,Country, AVG(Temperature) FROM WORLD WHERE Temperature > 20.0  GROUP BY City, Country ORDER BY Temperature ASC")
cur.fetchall()

[('Cairo', 'Egypt', 23.53333333333333),
 ('Mumbai', 'India', 27.174999999999997)]

# 8g:

In [27]:
cur.execute("SELECT SUM(Rainfall) FROM WORLD WHERE City = 'Cairo'")
cur.fetchall()

[(27.6,)]

# 8h:

In [28]:
cur.execute("SELECT Season, SUM(Rainfall) FROM WORLD GROUP BY Season")
cur.fetchall()

[('Fall', 569.0),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.5),
 ('Winter', 230.1)]

# Question 9a:

In [29]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']
list_UpperCase = [item.upper() for item in words]
print(list_UpperCase)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

# 9b:

In [30]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']
list_LowerCase = [item.lower() for item in words]
print(list_LowerCase)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

# 9c:

In [31]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']
list_LengthOfItem = [len(item) for item in words]
print(list_LengthOfItem)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

# 9d:

In [32]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']
list_UpperLowerLength = [[item.upper(), item.lower(), len(item)] for item in words]
print(list_UpperLowerLength)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

# 9e:

In [33]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']
list_Containing4OrMoreChar = [item for item in words if len(item) > 3]
print(list_Containing4OrMoreChar)

['quick', 'brown', 'jumps', 'over', 'lazy']